aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==20.3.0
beautifulsoup4==4.12.0
bs4==0.0.1
cbor2==5.4.6
certifi==2022.12.7
charset-normalizer==3.1.0
cloudscraper==1.2.69
diffusion==6.8.7
diffusion-core==0.0.16
frozenlist==1.3.3
idna==3.4
multidict==6.0.4
pydantic==1.10.6
pyparsing==3.0.9
requests==2.28.2
requests-toolbelt==0.10.1
soupsieve==2.4
stringcase==1.2.0
structlog==20.2.0
typing_extensions==4.5.0
urllib3==1.26.15
yarl==1.8.2
